<div class="page-header text-center">
  <h1> 後台 </h1>
</div>

<table class="table table-striped table-hover" >
  <% @restaurants.each do |restaurant| %>
   <tr>
     <td><%= restaurant.name %></td>
     <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
     <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
     <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} %></td>
   </tr>

  <%end%>
 </table> 
<h4> <%= paginate @restaurants %></h4>

<h4> <%= link_to 'New restaurant', new_admin_restaurant_path, :class => "btn btn-primary" %></h4>
